html{
	background-color: #FFF5EE;
}
h1{
    color: #FF69B4;
    text-shadow: 1px 1px 1px #C71585;
    text-align: center;
    position: relative;
}
nav{
	float:right;
}
.nav-links{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li{
	display: inline-block;
	margin-left: 20px;
}

.nav-links li a{
	color: #DA70D6;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
}


content{
	padding: 50px 0;
	text-align: center;
}

.title{
	text-align: center;
	padding: 20px;
	margin: 10px aut0;
	border: 2px  pink;
	border-radius: 10px;
}
.about me{
	text-align: center;
	padding: 20px;
	margin: 10px aut0;
	border: 2px solid pink;
	border-radius: 10px;
}

.footer{
	text-align: center;
	padding: 20px;
	margin: 10px aut0;
	border: 2px solid pink;
	border-radius: 10px;
}
	
