html{
	background-color: #EEC0C8;
}
h1{
    color: #FF69B4;
    text-shadow: 1px 1px 1px #C71585;
    text-align: center;
    position: relative;
}
nav{
	float:right;
}
.nav-links{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li{
	display: inline-block;
	margin-left: 20px;
	border: 2px solid pink;
	border-radius: 10px;
}

.nav-links li a{
	font-size: 26px;
	font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #C71585;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
}


.content{
	padding: 50px 0;
	text-align: center;
}

.title{
	font-size: 28px;
	text-align: left;
	padding: 0px;
	margin: 0px auto;
	border-radius: 10px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: #FOFFFO;
}
.about me{
	text-align: center;
	padding: 20px;
	margin: 10px auto;
	border: 2px solid pink;
	border-radius: 10px;
}

.footer{
	text-align: center;
	padding: 5px;
	margin: 5px auto;
	border: 1px solid pink;
	border-radius: 5px;
}
	
