html{
	background-color: #EEC0C8;
	padding: 0;
	margin: 0;
}
body{
	position: relative;
}

.container{
	width: 1280px;
	margin: auto;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	background: blue;

}
h1{
    color: #FF69B4;
    text-shadow: 1px 1px 1px #C71585;
}
nav{
	float:right;
}
navbar{
	width: 95%
	margin: auto;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
.nav-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li{
	display: inline-block;
	margin-left: 20px;
	border: 2px solid #c71585;
	border-radius: 10px;
	background-color: #FOFFFO;
}

.nav-links li a{
	font-size: 26px;
	font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #C71585;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
}


.title{
	font-size: 28px;
	border-radius: 10px;
	font-family: "Lucida Console", "Courier New", monospace;

}


.footer{
	text-align: center;
	padding: 5px;
	margin: 5px auto;
	border: 1px solid pink;
	border-radius: 5px;
}

.Work{
	font-color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	
}

.education{
	font-color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
}
	
